.foodCard{
    .box{
        width: 100%;
        display: flex;
        flex-direction: row !important;
        padding: 60px 0 13px 13px;
        justify-content: center;
        .chickenCard{
            padding: 11px 20px;
            background: #F5F5F5;
            box-shadow: none;
            img{
                width: 145px;
                height: 120px;
            }
        }
        .contextCard{
            background: #F5F5F5;
            box-shadow: none;
            .foodName{
                font-size: 18px !important;
                padding: 11px 0 26px 0;
                font-weight: 600;
            }
            .detailCard{
                font-size: 14px;
            }
            .expiredTime{
                font-size: 14px;
                color: #FE645A !important;
            }
        }
        .delete-edit-card{
            background: #F5F5F5;
            box-shadow: none;
            .deleteButton{
                color: #FF0000 !important;
            }
            .editButton{
                padding: 100px 0 0 0;
                color: #418DE1 !important;
            }
        }
    }

}
