.bottomNav {
  color: $text-color !important;
  header {
    padding: 8px 0;
  }
  .MuiAppBar-positionFixed {
    bottom: 0;
    top: unset;
  }
  .MuiToolbar-root {
    justify-content: space-around;
  }
  &__button {
    min-width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    // padding: 8px 15px !important;
  }
  &__button > .MuiIconButton-label {
    display: flex;
    flex-direction: column;
  }

  .MuiIconButton-label > p {
    margin: unset;
  }

  .active {
    background-color: $primary-color;
  }
}
