@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
}

p {
  color: $text-color !important;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Open Sans", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

@mixin pad() {
  @media (min-width: 768px) {
    @content;
  }
}
