.CreateShoppinglist{
    background-color:#C7E3EE ;
    height: 1500px; 

}
.input-container{
    padding: 40px 0 33px 66px;
    line-height: 40px;
    color: white;
    h5{
        font-size:24px;
        margin: 40px 0 20px 0;
     }
     .input-foodname{
        h5{
            margin-top: 76px;
        }
         display: flex;
         align-items: center;
        .css-kx6rml-MuiStack-root{
            margin: 0;
        }
     }
     .input-amount{
        display:flex;
        h5{
            word-spacing:44px;
        }
    }
    .input-unit{
        display: flex;
        h5{
            word-spacing:44px;
        }
    }
    .input-remark{
        h5{
            word-spacing:44px;
        }
        display: flex;
        .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input{
            
            background-color: white;
        }
        .css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root{
            background-color: white;
        }
    }
    .submit{
        margin-top: 100px;
        margin-left: 84px;
    }
}
