@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
.fs-1 {
  font-size: 12px;
}

.fs-2 {
  font-size: 14px;
}

.fs-3 {
  font-size: 18px;
}

.fs-4 {
  font-size: 24px;
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  color: #444545 !important;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Open Sans", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.recipeItem__container .recipeItem__wrap {
  position: relative;
}

.recipeItem__container .recipeItem__wrap img {
  display: block;
  width: 100%;
}

.recipeItem__container .recipeItem__wrap .recipeItem__box {
  width: 100%;
  border-radius: 20px 20px 0 0;
  background-color: white;
  padding: 20px 0;
}

.recipeItem__container .recipeItem__wrap .recipeItem__box h4 {
  font: size 24px;
  padding-left: 20px;
}

.recipeItem__container .TabPanel__box::-webkit-scrollbar {
  display: none;
}

.recipeItem__container .TabPanel__box li {
  padding: 10px 0;
}

.recipeItem__container .css-11yukd5-MuiTabs-indicator {
  background-color: #fe8b83;
}

.recipeItem__container .activeStep {
  font-weight: bold;
  font-size: 24px;
  color: #fe8b83;
}

.recipe__index .recipeIndexTop {
  background-color: #fe8b83;
  width: 100%;
  border-radius: 0 0 20px 20px;
}

.recipe__index .recipeIndexTop .recipeIndexTop__slogan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.recipe__index .recipeIndexTop .recipeIndexTop__slogan h4 {
  color: white;
  font-size: 14px;
  font-weight: normal;
}

.recipe__index .recipeIndexTop .recipeIndexTop__slogan > .MuiSvgIcon-root {
  color: white;
}

.recipe__index .recipeIndexTop .recipeIndexTop__slogan .ticker {
  width: 100%;
}

.recipe__index .recipeIndexTop .recipeIndexTop__title {
  padding: 40px 20px 20px;
}

.recipe__index .recipeIndexTop .recipeIndexTop__title h4 {
  color: white;
  font-size: 18px;
  padding-bottom: 10px;
}

.recipe__index .recipeIndexTop .recipeIndexTop__title .recipeIndexTop__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 18px;
  background-color: white;
  border-radius: 20px;
}

.recipe__index .recipeIndexTop .recipeIndexTop__title .recipeIndexTop__input input {
  border: none;
  border-radius: 20px 0 0 20px;
  color: #c4c4c4;
  width: 88%;
  padding-left: 10px;
  outline: none;
}

.recipe__index .recipeIndexTop .recipeIndexTop__title .recipeIndexTop__input > .MuiSvgIcon-root {
  color: #c4c4c4;
  padding-right: 10px;
}

.recipe__index .recipeIndexMiddle .recipeIndexMiddle__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
}

.recipe__index .recipeIndexMiddle .recipeIndexMiddle__title h4 {
  font-size: 24px;
  padding-left: 20px;
}

.recipe__index .recipeIndexMiddle .recipeIndexMiddle__title .recipeIndexMiddle__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  color: #fe8b83;
  padding-right: 20px;
}

.recipe__index .recipeIndexMiddle .recipeIndexMiddle__title .recipeIndexMiddle__more > .MuiSvgIcon-root {
  font-size: 12px;
}

.recipe__index .recipeIndexMiddle .recipeIndexMiddle__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  width: 100%;
  height: 300px;
}

.recipe__index .recipeIndexMiddle .recipeIndexMiddle__cards .hotCard {
  position: relative;
  padding: 0 20px;
}

.recipe__index .recipeIndexMiddle .recipeIndexMiddle__cards .hotCard .hotCard__img {
  width: 243px;
  height: 200px;
  border-radius: 20px;
}

.recipe__index .recipeIndexMiddle .recipeIndexMiddle__cards .hotCard .MuiCardContent-root {
  position: absolute;
  bottom: 15px;
  left: 24px;
  width: 215px;
  height: 105px;
  background-color: #e9e6e6;
  padding: 15px 10px;
  border-radius: 20px;
}

.recipe__index .recipeIndexMiddle .recipeIndexMiddle__cards .hotCard .MuiCardContent-root .MuiTypography-root {
  font-size: 18px;
  padding-left: 10px;
}

.recipe__index .recipeIndexMiddle .recipeIndexMiddle__cards .hotCard .MuiCardContent-root span {
  display: block;
  width: 100%;
  height: 1px;
  background-color: black;
  margin-top: 5px;
}

.recipe__index .recipeIndexMiddle .recipeIndexMiddle__cards .hotCard .MuiCardContent-root .hotCard__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10px;
}

.recipe__index .recipeIndexMiddle .recipeIndexMiddle__cards .hotCard .MuiCardContent-root .hotCard__item .MuiTypography-root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5px;
}

.recipe__index .recipeIndexMiddle .recipeIndexMiddle__cards-1 {
  width: 100%;
  height: 100vw;
  overflow: auto;
}

.recipe__index .recipeIndexMiddle .recipeIndexMiddle__cards-1 .recipeIndexMiddle__cards-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .recipe__index .recipeIndexMiddle .recipeIndexMiddle__cards-1 .recipeIndexMiddle__cards-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.recipe__index .recipeIndexMiddle .recipeIndexMiddle__cards-1 .recipeIndexMiddle__cards-2 .MuiPaper-root {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0;
}

.recipe__index .recipeIndexMiddle .recipeIndexMiddle__cards-1 .recipeIndexMiddle__cards-2 .MuiPaper-root .MuiCardMedia-root {
  width: 50%;
  height: 80%;
  border-radius: 20px !important;
  margin: 20px;
}

.login-signup-Page .box {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 33px 0 33px;
}

.login-signup-Page .inputTextbox {
  width: 100%;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.login-signup-Page .inputTextbox input {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 9px;
  border: 1px solid #F5F5F5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.login-signup-Page .login-sugnup-Button {
  width: 100%;
  margin: 72px 0 0 0;
  box-Shadow: none !important;
}

.login-signup-Page .login-sugnup-Button Button {
  background: #fe8b83;
  color: #FFFFFF;
  font-family: Helvetica;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  border-radius: 20px;
}

.login-signup-Page .signupLink {
  width: 100%;
  margin: 80px 0 40px  0;
  box-Shadow: none !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}

.login-signup-Page .otherLoginOptions {
  width: 100%;
  box-Shadow: none !important;
}

.login-signup-Page ::-webkit-input-placeholder {
  color: #C4C4C4;
}

.login-signup-Page :-ms-input-placeholder {
  color: #C4C4C4;
}

.login-signup-Page ::-ms-input-placeholder {
  color: #C4C4C4;
}

.login-signup-Page ::placeholder {
  color: #C4C4C4;
}

.login-signup-Page .twitterIcon {
  background: #00acee;
  color: #FFFFFF;
  width: 50px !important;
  height: 50px !important;
  border-radius: 50px;
  padding: 3px;
}

.login-signup-Page .avatar {
  width: 50px !important;
  height: 50px !important;
}

.login-signup-Page .link {
  font-size: 14px;
  text-decoration: none !important;
  color: #fe8b83 !important;
}

.addRecipePage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
}

.addRecipePage .stepInputFieldContainer {
  position: relative;
}

.addRecipePage .deleteStepBtn {
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 50% !important;
}

.addRecipePage__submitBtn {
  background-color: #fe8b83 !important;
}

.fridgeIndex .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100vh;
  background: #C7E3EE;
}

.fridgeIndex .box .overview__container {
  position: relative;
}

.fridgeIndex .box .overview__container .font {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  bottom: 30px;
  left: 10%;
  position: absolute;
  top: 100px;
}

.fridgeIndex .box .overview__container .font p {
  text-align: center;
  font-size: 20px;
  width: 20%;
  font-weight: bold;
  margin: 0 18px;
}

.fridgeIndex .box .overview {
  background-image: url("/src/images/fridgeIndexBar.jpg");
  background-size: cover;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  width: 100%;
  height: 213px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0 0 35px 35px;
  position: relative;
}

.fridgeIndex .box .word {
  background: inherit;
  padding: 20px 14px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.fridgeIndex .box .word p {
  color: #444545;
  font-size: 24px;
  font-weight: 900;
}

.fridgeIndex .box .function {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: inherit;
  padding: 0 0 20px 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.fridgeIndex .box .function button {
  background: #FFFFFF;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  margin: 0 10px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.fridgeIndex .box .function button img {
  background: #F0FFF0;
  color: #1AFD9C;
  width: 66px;
  height: 70px;
  border-radius: 50px;
  padding: 10px;
}

.fridgeIndex .box .function button .shoppingListIcon {
  color: #FE8B83;
  background: #FFF3EE;
}

.fridgeIndex .box .function button p {
  font-size: 18px;
}

.fridgeIndex .box .addFood {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: inherit;
  padding: 0 0 20px 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.fridgeIndex .box .addFood button {
  width: 309px;
  height: 165px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.fridgeIndex .box .addFood button .discription {
  text-align: left;
  color: #444545;
}

.fridgeIndex .box .addFood button .discription .fork {
  width: 38px;
  height: 35px;
  margin: 0 0 20px 0;
}

.fridgeIndex .box .addFood button .discription h2 {
  font-size: 18px;
}

.fridgeIndex .box .addFood button .discription h3 {
  font-size: 12px;
}

.fridgeIndex .box .addFood button .avatar {
  text-align: right;
}

.fridgeIndex .box .addFood button .avatar .foodIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 40px 0;
}

.fridgeIndex .box .addFood button .avatar .addIcon {
  background: #FE8B83;
  color: #FFFFFF;
  width: 36px;
  height: 36px;
  border-radius: 50px;
}

.bottomNav {
  color: #444545 !important;
}

.bottomNav header {
  padding: 8px 0;
  background-color: #fff !important;
}

.bottomNav .MuiAppBar-positionFixed {
  bottom: 0;
  top: unset;
}

.bottomNav .MuiToolbar-root {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.bottomNav__button {
  min-width: 65px;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottomNav__button > .MuiIconButton-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bottomNav .MuiIconButton-label > a > p {
  margin: unset;
}

.bottomNav .active {
  background-color: #fe8b83 !important;
}

.bottomNav .active .MuiSvgIcon-root,
.bottomNav .active p {
  color: white !important;
}

.bottomNav .MuiSvgIcon-root {
  color: #444545;
}

.bottomNav a {
  text-decoration: none;
  display: block;
}

.ingredientsSelector .inputContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ingredientsSelector > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.css-tlc64q-MuiPaper-root-MuiDialog-paper {
  margin: 24px 10px !important;
  padding: 8px;
  width: 100% !important;
  position: absolute !important;
  bottom: 0;
  background-color: #c4c4c4 !important;
}

.voice-recognition {
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
}

.foodCard .box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  padding: 60px 0 13px 13px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.foodCard .box .chickenCard {
  padding: 11px 20px;
  background: #F5F5F5;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.foodCard .box .chickenCard img {
  width: 145px;
  height: 120px;
}

.foodCard .box .contextCard {
  background: #F5F5F5;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.foodCard .box .contextCard .foodName {
  font-size: 18px !important;
  padding: 11px 0 26px 0;
  font-weight: 600;
}

.foodCard .box .contextCard .detailCard {
  font-size: 14px;
}

.foodCard .box .contextCard .expiredTime {
  font-size: 14px;
  color: #FE645A !important;
}

.foodCard .box .delete-edit-card {
  background: #F5F5F5;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.foodCard .box .delete-edit-card .deleteButton {
  color: #FF0000 !important;
}

.foodCard .box .delete-edit-card .editButton {
  padding: 100px 0 0 0;
  color: #418DE1 !important;
}

.fridgeBar {
  width: 100%;
}

.fridgeBar .top_bar {
  background: #C7E3EE;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 15px;
}

.fridgeBar .top_bar Button {
  color: #FFFFFF;
  background: #C7E3EE;
}

.fridgeBar .top_bar .LeftButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.fridgeBar .top_bar .LeftButton p {
  font-size: 26px;
}

.fridgeBar .top_bar .RightButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fridgeBar .top_bar p {
  color: #FFFFFF !important;
}

.fridgeBar .kind_bar {
  width: 100%;
  background: #F5F5F5;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #444545 !important;
}

.fridgeBar .kind_bar Button {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #444545;
}
/*# sourceMappingURL=all.css.map */